* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: sans-serif;
}

:root {
  --white: #fff;
  --light-blue: #3464848f;
}

html,
body {
  width: 100%;
  height: 100%;
  background-image: url("image/background.png");
  background-repeat: no-repeat;
  background-size: cover;
}

/* ************************************************ */
/* Header Section */
/* ************************************************ */
header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  column-gap: 300px;
  align-items: center;
  width: 100%;
  height: 20%;
}

nav {
  display: flex;
  column-gap: 70px;
}

.nav-link {
  color: var(--white);
}

.nav-svg {
  background-image: transparent;
  width: 20px;
  height: 20px;
}

.nav-contact {
  display: flex;
  align-items: center;
  column-gap: 10px;
}
.nav-svg {
  color: var(--white);
  font-size: 50px;
  width: 25px;
  height: 25px;
}

.nav-call {
  display: flex;
  flex-direction: column;
  color: var(--white);
  row-gap: 5px;
  font-size: 12px;
}
.nav-call a {
  color: var(--white);
}

.border-bottom {
  display: flex;
  align-items: center;
  column-gap: 150px;
  border-bottom: 2px solid #fff;
  padding-bottom: 18px;
}

/* ************************************************ */
/* Main Section */
/* ************************************************ */

.main-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 80%;
}

.left-design {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 5%;
  row-gap: 100px;

  width: 100%;

  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-105%, -110%);
  z-index: 999;
}

.left-heading {
  width: 100%;
  margin: 0 auto;
  font-size: 50px;
  font-weight: 900;
  color: var(--white);
  margin-left: 15%;
}

button {
  background-color: transparent;
  border: 2px solid var(--white);
  border-radius: 25px;
  padding: 12px 30px;
  color: var(--white);
  /* width: 20%; */
  margin-left: 15%;
  text-transform: uppercase;
  font-weight: 900px;
  font-size: 17px;
}

/* ********************************************** */

.right-content {
  display: flex;
  flex-direction: column;
  /* row-gap: 50px; */
  width: 100%;
  height: 100%;

  position: relative;
  /* top: 20%;
  left: 70%;
  transform: translate(-50%, -50%); */
}

.content {
  width: 18rem;
  color: var(--white);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 0 20px 40px;
}

.content-1 {
  position: relative;
  top: 20%;
  left: 70%;
  transform: translate(-50%, -50%);
  background-color: var(--light-blue);
  /* margin-left: 50%; */
}

.content-2 {
  /* position: absolute; */
  /* margin-top: 100px;
  margin-left: -350px; */
  background-color: var(--light-blue);
  /* margin-right: 100px; */
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-150%, -150%);
}
.svg-3 {
  margin-left: -134px;
}

.content p {
  width: 220px;
}

.point {
  width: 15px;
  height: 15px;
  border-radius: 50%;
}

.border-1 {
  background: #fff;
  height: 99px;
  width: 2px;

  position: relative;
  top: 20%;
  left: 80%;
  transform: translate(0%, -110%);
}

.point-1 {
  background-color: rgb(237, 76, 76);
  background-color: #fff;
  position: relative;
  top: 20%;
  left: 80%;
  transform: translate(-45%, -700%);
}

.border-2 {
  background-color: #fff;
  height: 2.5px;
  width: 100px;
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-140%, 1650%);
}
.point-2 {
  background-color: #fff;
  position: absolute;
  top: 42%;
  left: 50%;
  transform: translate(-250%, 1158%);
}
/* ***********MEDIA QUERY************** */
@media screen and (max-width: 2767px) {
  html,
  body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }
  .left-design {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 5%;
    row-gap: 100px;
    width: 100%;
    position: relative;
    top: 40%;
    left: 50%;
    /* transform: translate(-105%, -110%); */
    /* z-index: 999; */
  }
  .left-heading {
    font-size: 90px;
  }
  button {
    /* background-color: transparent;
    border: 2px solid var(--white); */
    border-radius: 50px;
    padding: 30px 60px;
    /* color: var(--white);
    margin-left: 15%;
    text-transform: uppercase; */
    font-size: 28px;
    font-weight: 700;
  }
  .border-1 {
    position: relative;
    top: 22%;
    left: 80%;
    transform: translate(0%, -110%);
  }
  .border-2 {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-140%, 1650%);
  }
  .point-2 {
    background-color: #fff;
    position: absolute;
    top: 47.2%;
    left: 50%;
    transform: translate(-250%, 1158%);
  }
}

@media screen and (max-width: 1665px) {
  .left-heading {
    font-size: 45px;
  }
  button {
    border-radius: 50px;
    padding: 20px 40px;
    font-size: 20px;
    font-weight: 700;
  }
  .point-2 {
    background-color: #fff;
    position: absolute;
    top: 38.7%;
    left: 49%;
    transform: translate(-250%, 1158%);
  }
}
@media screen and (max-width: 1465px) {
  .left-design {
    position: relative;
    top: 10%;
    left: 20%;
    transform: translate(-50%, -50%);
    /* z-index: 999; */
  }
  .point-2 {
    background-color: #fff;
    position: absolute;
    top: 35.8%;
    left: 49%;
    transform: translate(-250%, 1158%);
  }
  .border-1 {
    background: #fff;
    height: 99px;
    width: 2px;
    position: relative;
    top: 22%;
    left: 80%;
    transform: translate(0%, -110%);
  }
  .border-bottom {
    column-gap: 25%;
    justify-content: center;
    width: 100%;
  }
}

@media screen and (max-width: 1300px) {
  header {
    column-gap: 18%;

    padding: 0 20px;
  }
  nav {
    column-gap: 10%;
  }
  .border-bottom {
    column-gap: 200px;
  }
  .main-section {
    padding: 0 50px;
  }
  .left-heading {
    font-size: 40px;
  }
  .content {
    width: 60%;
  }
  .content p {
    width: 90%;
  }
  .left-heading {
    font-size: 50px;
  }

  .content-2 {
    position: relative;
    top: 70%;
    left: 80%;
    transform: translate(-150%, -150%);
  }
  .border-1 {
    position: absolute;
    top: 45%;
    left: 80%;
    transform: translate(-50%, -50%);
  }
  .point-1 {
    position: absolute;
    top: 55%;
    left: 80%;
    transform: translate(-50%, -50%);
  }

  .border-2 {
    height: 99px;
    width: 1px;
    position: absolute;
    top: 45%;
    left: 10%;
    transform: translate(-50%, -50%);
  }
  .point-2 {
    background-color: #fff;
    position: absolute;
    top: 35%;
    left: 10%;
    transform: translate(-50%, -50%);
  }
}
@media screen and (max-width: 1200px) {
  .left-heading {
    font-size: 30px;
  }
}
@media screen and (min-width: 780px) and (max-width: 990px) {
  .nav-link {
    font-size: 10px;
  }
  .left-heading {
    font-size: 35px;
  }
  button {
    padding: 10px 25px;

    font-size: 13px;
  }

  .content {
    width: 60%;
  }
  .content p {
    width: 90%;
  }
  .border-1 {
    position: absolute;
    top: 45%;
    left: 80%;
    transform: translate(-50%, -50%);
  }

  .point-1 {
    position: absolute;
    top: 55%;
    left: 80%;
    transform: translate(-50%, -50%);
  }
  .border-2 {
    height: 99px;
    width: 1px;
    position: absolute;
    top: 45%;
    left: 13%;
    transform: translate(-50%, -50%);
  }
  .point-2 {
    background-color: #fff;
    position: absolute;
    top: 35%;
    left: 13%;
    transform: translate(-50%, -50%);
  }
  .content-2 {
    position: relative;
    top: 70%;
    left: 80%;
    transform: translate(-150%, -150%);
  }
}
@media screen and (max-width: 782px) {
  .right-content {
    position: static;
  }
  .left-design {
    position: relative;
    top: 40%;
    left: 20%;
  }
  .left-heading {
    font-size: 25px;
  }
  button {
    padding: 8px 25px;

    font-size: 12px;
  }
  .nav-link {
    font-size: 10px;
  }
  .nav-logo {
    width: 100px;
  }
  .border-bottom {
    column-gap: 20%;
    justify-content: center;
    width: 100%;
  }
  .content {
    width: 60%;
  }
  .content p {
    font-size: 10px;
    width: 90%;
  }
  .content-2 {
    position: relative;
    top: 80%;
    left: 130%;
    /* transform: translate(-50%, -50%); */
  }
  .border-1,
  .border-2 {
    display: none;
  }
  .point-1,
  .point-2 {
    display: none;
  }
}
@media screen and (max-width: 642px) {
  header {
    height: fit-content;
    padding: 10px;
  }
  .main-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* width: 100%; */
    height: 80%;
    margin: 50px;
    padding: 0;
    gap: 150px;
    text-align: center;
  }
  .right-content {
    align-items: center;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-110%, -50%);
    width: fit-content;
  }
  .left-design {
    align-items: center;

    gap: 45px;
    position: relative;
    top: 40%;
    left: 20%;
  }
  .left-heading {
    font-size: 25px;
  }
  button {
    padding: 8px 25px;

    font-size: 12px;
  }
  nav {
    flex-direction: column;
    row-gap: 10px;
    margin-bottom: 10px;
  }
  .nav-link {
    font-size: 10px;
  }
  .nav-logo {
    width: 100px;
  }
  .border-bottom {
    flex-direction: column;
    justify-content: center;

    /* width: 100%; */
  }
  .content {
    width: 60%;
  }
  .content p {
    font-size: 10px;
    width: 90%;
  }
  .content-2 {
    position: relative;
    top: 80%;
    left: 130%;
    /* transform: translate(-50%, -50%); */
  }
  .border-1,
  .border-2 {
    display: none;
  }
  .point-1,
  .point-2 {
    display: none;
  }
}
